body {
	font-family: "微软雅黑", "Microsoft YaHei","宋体", Verdana, Geneva, sans-serif;
	margin: 0px;
	color: #FFF;
	text-shadow: 1px 1px 3px #000;
	width: 504px;
	height: 219px;
	overflow: hidden;
	font-size: 12px;
	background-color: #c0d4e0;
}
.button{
	cursor: pointer;
}
/*主界面*/
#main {
	position: absolute;
	width: 504px;
	height: 219px;
	overflow: hidden;
}
#anniu {
	position: absolute;
	right: 13px;
	top: 13px;
}
#anniu span {
	display: inline-block;
	width: 26px;
	height: 26px;
}
.shezhi {
	background: url(bg24.png) -120px 0 no-repeat !important;
}
.zoushi {
	background: url(bg24.png) -60px 0 no-repeat !important;
}
.guanbi {
	background: url(bg24.png) 0 0 no-repeat !important;
}
.shezhi:hover {
	background: url(bg24.png) -150px 0 no-repeat !important;
}
.zoushi:hover {
	background: url(bg24.png) -90px 0 no-repeat !important;
}
.guanbi:hover {
	background: url(bg24.png) -30px 0 no-repeat !important;
}
#wendu {
	position: absolute;
	font-size: 60px;
	left: 48px;
	top: 26px;
	line-height: 60px;
	height: 60px;
}
#chengshi {
	font-size: 12px;
	position: absolute;
	left: 180px;
	top: 63px;
	background-color: #9fa1a3;
	border-radius: 2px;
	height: 17px;
	line-height: 17px;
	overflow: hidden;
	padding: 0px 3px;
}
.wuran {
	font-size: 12px;
	position: absolute;
	left: 180px;
	top: 114px;
	background-color: #576774;
	border-radius: 2px;
	height: 17px;
	line-height: 17px;
	overflow: hidden;
	padding: 0px 3px;
}
.city .icon {
	background: url(bg24.png) 0 -30px no-repeat !important;
	display: inline-block;
	width: 10px;
	height: 14px;
	vertical-align: sub;
}
#xiangxi {
	position: absolute;
	top: 95px;
	left: 48px;
	font-size: 14px;
}
#xiangxi .quality{
	font-size: 12px;
}
.wuran .icon {
	width: 10px;
	height: 10px;
	display: inline-block;
}
.xingqi {
	display: block;
}
#xiangxi .pm25 {
	height: 20px;
}
#xiangxi .vertical-span {
	height: 20px;
}
/*设置界面*/
#set-wrap {
	font-size: 12px;
	display: block;
	width: 504px;
	height: 219px;
	position: absolute;
	display: none;
}
#set-wrap .button{
	z-index: 2;
}
#set{
	position: absolute;
	top: 7px;
	left: 7px;
	width: 437px;
	height: 124px;
	padding-left: 53px;
	padding-top: 23px;
	z-index: 1;
	border-bottom: #547393 1px dashed;
}
.tianqitishi input{
	vertical-align: bottom;
}
.header {
	font-size: 25px;
}
select {
	border: none;
	background-color: #bec8d0;
	border-radius: 2px;
	color: #ffffff;
}

#set .button {
	background-color: #42a1cd;
	border-radius: 2px;
	padding: 0 13px;
	display: inline-block;
	height: 17px;
	line-height: 17px;
}
.tianqitishi div{
	margin-left: 43px;
}
#company {
	text-align: center;
	position: absolute;
	top: 153px;
	left: 7px;
	width: 490px;
	height: 53px;
	z-index: 1;
	padding-top: 15px;
}
.vertical-span {
	display: block;
}
a {
	color: #ffffff;
	text-decoration: none;
}
#set-wrap .cover-top{
	position: absolute;
	top: 7px;
	left: 7px;
	width: 490px;
	height: 147px;
	background-color: #000;
	opacity: 0.2;
}
#set-wrap .cover-bottom {
	position: absolute;
	top: 154px;
	left: 7px;
	width: 490px;
	height: 59px;
	background-color: #000;
	opacity: 0.5;
}
.zhishu .icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
.cy .icon{
	background: url(bg24.png) 0 -58px no-repeat !important;
}
.cx .icon{
	background: url(bg24.png) -30px -60px no-repeat !important;
}
.fs .icon{
	background: url(bg24.png) -60px -60px no-repeat !important;
}
/*气温趋势界面*/
#trend {
	position: relative;
	display: none;
}
#trend .button{
	z-index: 2;
}
#trend .city {
	position: absolute;
	left: 14px;
	top: 12px;
}
.horizontal-span {
	display: block;
	float: left;
}
.back {
	width: 26px;
	height: 26px;
	position: absolute;
	background: url(bg24.png) -60px -30px no-repeat !important;
	right: 12px;
	top: 12px;
}
.back:hover{
	background: url(bg24.png) -90px -30px no-repeat !important;
}
#trend .detail {
	top: 7px;
	left: 7px;
	width: 314px;
	height: 144px;
	z-index: 1;
	border-bottom: #547393 1px dashed;
	position: absolute;
	padding: 30px 88px 0 88px;
}
.week {
	font-size: 14px;
}
.week span {
	padding-right: 28px;
}
.week .last {
	padding-right: 0px;
}
.zhishu {
	top: 184px;
	left: 7px;
	width: 490px;
	height: 28px;
	z-index: 1;
	position: absolute;
}
.zhishu .horizontal-span {
	width: 162px;
	text-align: center;
	height: 25px;
	line-height: 25px;
}
.zhishu  .lr-border{
	border-left: #7f838c 1px solid;
	border-right: #7f838c 1px solid;
}
 #trend .cover-top{
	position: absolute;
	top: 7px;
	left: 7px;
	width: 490px;
	height: 175px;
	background-color: #ababab;
	opacity: 0.2;
}
#trend .cover-bottom {
	position: absolute;
	top: 182px;
	left: 7px;
	width: 490px;
	height: 31px;
	background-color: #000;
	opacity: 0.5;
}
.tip{
	display: none;
}
.loading {
	position: absolute;
	left: 168px;
	top: 20px;
	width: 175px;
	height: 175px;
	background-image:url(loading.png);
	background-repeat:no-repeat;

	/* Safari and Chrome: */
	-webkit-border-radius:10px;
	-webkit-transition:all 3s ease-in-out
	-webkit-transform:rotate(360deg);
	-webkit-animation:mylasting1;
	-webkit-animation-delay:0s;
	-webkit-animation-duration:3s;
	-webkit-animation-play-state:running;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:infinite;
}
@-webkit-keyframes mylasting1
{
	0%{ -webkit-transform:rotate(0deg);}
	100%{ -webkit-transform:rotate(360deg);}
}
.percent {
	position: absolute;
	left: 220px;
	top: 85px;
	background: url(bg24.png) -90px -60px no-repeat !important;
	width: 71px;
	height: 58px;
	text-align: center;
	line-height: 46px;
	font-size: 16px;
	display: none;
}
