[Desktop Entry]
Version=0.2
Name=Cuprum Web Browser
Name[en_AU]=Cuprum Web Browser
Name[zh_CN]=Cuprum 网页浏览器
Comment=Access the Internet
Comment[zh_CN]=访问互联网
Exec=CuprumBrowser %U
Terminal=false
Type=Application
Icon=/usr/local/cuprumbrowser/share/cuprum.png
Categories=GNOME;GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=false
Keywords=Internet;WWW;Browser;Web;Explorer
Keywords[zh_CN]=Internet;WWW;Browser;Web;Explorer;网页;浏览;上网;Cuprum;互联网;网站;
