#!/usr/bin/make -f

DEBIAN_NAME		:= cdosbrowser
DEBIAN_VERSION		:= 0.2

DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DEB_HOST_ARCH_CPU ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_CPU)
DEB_BUILD_ARCH ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH)
DEB_BUILD_ARCH_BITS ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH_BITS)

# needed for easy job control, e.g, kill %1
SHELL := /bin/bash

DEB_TAR_SRCDIR := .
SRC_DIR = $(CURDIR)
LIB_DIR        := usr/lib/$(DEBIAN_NAME)
BINARY_PACKAGE_COMPRESSION ?= xz
INSTALL_DIR = $(CURDIR)/debian/tmp/usr/local
tmp_INSTALL_DIR=/usr/local
ThirdParty_DIR=$(SRC_DIR)/Source/ThirdParty/

#mainIn
build: build-stamp

build_thirdparty:
	cd $(ThirdParty_DIR) && tar -zxvf openssl-1.0.0d.tar.gz && cd $(ThirdParty_DIR)/openssl-1.0.0d && ./config && make && cd $(SRC_DIR) && cp -rf $(ThirdParty_DIR)/openssl-1.0.0d/lib*.a $(SRC_DIR)/lib

# cmake config for webkit project
cmakeconfig:
	echo "build release version start..." && sleep 3
	cmake -DUSE_32BITS=1 -DPORT=GTK -DDEVELOPER_MODE=ON -DCMAKE_BUILD_TYPE=Release -DCMAKE_SKIP_BUILD_RPATH=FALSE -DCMAKE_BUILD_WITH_INSTALL_RPATH=FALSE -DCOMPILE_MODE=OFF

# Build webkit project.
build-stamp: build_thirdparty cmakeconfig
	dh_testdir
	cd $(SRC_DIR) && $(MAKE) -j4 && echo ******Build release SUCCESS********
	touch $@

clean:
	dh_testdir
	dh_testroot
	dh_clean build-stamp
	rm -rf $(CURDIR)/CMakeFiles
	rm -f $(CURDIR)/CMakeCache.txt

install: build
	echo "Prepare install....."
	dh_testdir
	dh_testroot
	dh_clean -k 
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp

#	cp -rf $(CURDIR)/bin/resources $(CURDIR)/debian/tmp/usr/local/cuprumtest/bin/

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
#	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
